.cart-container{
    position: relative;
    width: 100%;
    margin-top: 8%;
}
.cart-sidebar{
   background: #f0f0fc;
  border-radius: 10px;
  left: 0;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 30%;
  width: 12rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.cart-sidebar button{
  background: rgb(20, 2, 84);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.cart-main{
      margin-left: 17rem; /* This creates space for fixed sidebar */
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: auto; 
}
.cart-card{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(64, 77, 148, 0.4);
  transition: all 0.25s ease-in-out;
  width: 200px;
}
.cart-card-inc-dec {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart-card-inc-dec button {
background-color: black;
border-radius: 50%;
color: white;
}
.remove-button{
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
}